<section class="profileSection">
    <div>
        <ul class="profilePageTitleDiv">
            <li class="profilePageTitle">Name: {{user.first_Name}} {{user.last_Name}}</li>
            <li class="profilePageTitle">Role: {{user.role.title}}</li>
            <li class="profilePageTitle">Salary: {{user.salary}}</li>
            <li class="profilePageTitle">Email: {{user.email}}</li>
        </ul>
    </div>  
</section>

<script type="text/javascript" src="/JS/materialize.js"></script>
<script type="text/javascript" src="/JS/materialize.min.js"></script>
