<div class="container">
        <!-- Page Content goes here -->
        <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Branch</th>
                  <th>Role</th>
                  <th>Benefits</th>
                  <th>Salary</th>
                  <th>Email</th>
                  <th>Action</th>
                  
              </tr>
            </thead>
            {{#each users as |user|}}
            <tbody>
              <tr>
                <td>{{this.id}}</td>
                <td>{{this.first_Name}}</td>
                <td>{{this.last_Name}}</td>
                <td>{{this.branch_id}}</td>
                <td>{{this.role.title}}</td>
                <td>{{this.role.benefit_id}}</td>
                <td>${{this.role.salary}}</td>
                <td>{{this.email}}</td>
                <td>
                  {{#if user.role_id '==' 6}}
                    <a href="button" type="button" class="btn btn-light btn-small">Edit</a>
                    <a href="button" type="button" class="btn btn-light btn-small">Delete</a>
                    {{/if}}
                </td>
              </tr>
              {{/each}}
              </table>

<br>
<br>
<br>
              <div class="container center-align">
      <a class="waves-effect waves-light btn modal-trigger" href="#modal">New Employee</a>

  <!-- Modal Structure -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <h4>New Employee</h4>
      <div class="container center-align">
        <div class="row">
          <form class="col s12">

            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input id="Branch" type="text" class="validate">
                <label for="Branch">Branch</label>
              </div>
               <div class="input-field col s6">
                <input id="Role" type="text" class="validate">
                <label for="Role">Role</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input id="Benefits" type="text" class="validate">
                <label for="Benefits">Benefits</label>
              </div>
               <div class="input-field col s6">
                <input id="Salary" type="text" class="validate">
                <label for="Salary">Salary</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
          </form>
        </div>
        <a href="button" type="button" class="btn blue btn-large center-align">Add New Employee</a>
    </div>
   
  </div>
  </div>
  <br>
  <br>
  <br>

              <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Modal-->
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
    </script>

</body>
</html>